/* Global */
* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

p {
  margin: 0;
  padding: 0;
}



/* Navigation */
nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(138, 56, 26);
}

nav a {
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

nav .active {
  text-decoration: underline;
}



/* Order counter */
.order-counter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(233, 109, 64);
}

.order-counter * {
  margin-left: 50px;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}



/* Orders table */
.orders-table {
  width: 100%;
  margin: 20px 0;
  border: 1px solid whitesmoke;
  border-collapse: collapse;
}

.orders-table th {
  padding: 9px 0;
  background-color: rgb(138, 56, 26);
  color: white;
  text-decoration: none;
  border: 1px solid whitesmoke;
}

.orders-table td {
  text-align: center;
  padding: 7px 0;
  background-color: rgb(175, 87, 52);
  border: 1px solid whitesmoke;

}



/* Shoe */
.shoe {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    border: 3px solid darksalmon;
    border-radius: 6px;
    margin: 20px auto;
    background-color: rgba(123, 1, 1, 0.9);
    width: 70%;
}

.shoe img  {
  height: 140px;
  margin: 10px 5px;
}